.session-form-container {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    max-height: 60vh;
    top: 25vh;
    overflow-y: scroll;
}

.session-form-container::-webkit-scrollbar {
    display: none;
}

.session-form-type {
    color: white;
    text-align: center;
    font-size: 20px;
}

.session-errors {
    color: white;
}

.session-form {
    display: flex;
    flex-direction: column;
}

.session-form * {
    margin: 5px;
}