.session-form-container {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    left: 20vw;
    right: 20vw;
    top: 20vh;
    bottom: 20vh;
    overflow-y: scroll;
    border: 0.5px solid white;
}

.session-form-container::-webkit-scrollbar {
    display: none;
}

.session-form-type {
    color: white;
    text-align: center;
    font-size: 20px;
}

.session-errors {
    color: white;
}

.close-session-form {
    position: fixed;
    z-index: 1;
    background-color: white;
    font-weight: 600;
    border-radius: 100%;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    text-align: center;
    line-height: 140%;
    opacity: 0.8;
    left: 21vw;
    top: 22vh;
}

.close-session-form:hover {
    cursor: pointer;
    opacity: 1;
}

.session-form {
    flex-direction: column;
    overflow-y: scroll;
}

.session-form-inputs {
    display: flex;
    flex-direction: column;
}

.session-form * {
    margin: 5px;
}

.session-form-buttons {
    display: flex;
    flex-direction: column;
}

.session-form-button.login {
    margin-top: 5vh;
}

.session-form-button {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
    color: white;
    background-color: black;
    border-radius: 3px;
}

.session-form-button:hover {
    background-color: rgb(49, 49, 49);
}