.splash-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-content: center;
    justify-content: center;
}

#splash-background {
    position: absolute;
    height: 100vh;
    z-index: -1;
}